*{
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
}
#conteudo{
    display: flex;
}

#cabecalho{
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
    height: 16vh;
    display: flex;
    padding: 2vw;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo>img{
    max-height: 8vh;
}

#botao-login-logout{
    background-color: #483DAD;
    padding: 2vh 4vw;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#botao-login-logout:hover{
    background-color: rgb(102, 88, 233);
}

aside{
    background-color: #333333;
    color: #FFFFFF;
    padding: 2vw;
    max-width: 30vw;
    display: grid;
    row-gap: 20vh;
    justify-items: center;
    align-content: flex-start;
}
#perfil-foto{
    border-radius: 50px;
    max-width: 5vw;
}
#perfil-info{   
    text-align: center;
    display: flex;
}
#perfil-qntds{
    display: flex;
    gap: 5vw;
    text-align: center;
}
#perfil-btn-criar-atvd{
    background-color: #483DAD;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 15vw;
    height: 7vh;
    cursor: pointer;
}
#perfil-btn-criar-atvd:hover{
    background-color: rgb(102, 88, 233);    
}

main{
    background-color: #483DAD;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.card-post{
    background-color: #FFFFFF;
    display: flex;
    padding: 2vw;
    border-radius: 5px;
    max-width: 80vw;
}
.foto-perfil-post>img{
    border-radius: 200px;
    max-width: 8vw;
}

.conteudo-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vh;
}
.conteudo-post>li{
    display: flex;
    gap: 8px;
}
.conteudo-post > li > ul:not(:first-child)::before {
    content: "•";
    margin-right: 8px;
}
.coments-likes-post{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}
#paginacao{
    display: flex;
}

footer{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10vh 0;
    max-height: 5vh;
}